.stat-card {
	min-height: 8rem;
	text-align: start;
}

.stat-card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.stat-card .card-title {
	font-size: 1rem;
}

.stat-card .card-text {
	font-size: 1.5rem;
}
